asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
distlib==0.3.8
dj-database-url==2.2.0
Django==5.1rc1
filelock==3.15.4
gunicorn==23.0.0
idna==3.7
nodejs==0.1.1
optional-django==0.1.0
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
psycopg2-binary==2.9.9
PyMySQL==1.1.1
requests==2.32.3
soupsieve==2.5
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
unicorn==2.0.1.post1
urllib3==2.2.2
virtualenv==20.26.3
