{% extends 'layouts/base2.html' %} {% block content %}

<p class="lead container text-start">
  Nos comprometemos a proteger su privacidad y garantizar la seguridad de su
  información personal. Nuestro sitio web está diseñado únicamente para mostrar
  productos a nuestros visitantes y no recopilamos, almacenamos ni procesamos
  ningún dato personal de nuestros usuarios. No utilizamos cookies ni ninguna
  otra tecnología de seguimiento para monitorear su actividad en nuestro sitio.
  Su visita a nuestra página de presentación de productos es completamente
  anónima y no realizamos ninguna forma de recopilación de datos que pueda
  identificarlo personalmente. Cumplimos con los más altos estándares de
  privacidad y transparencia y estamos dedicados a brindarle una experiencia de
  navegación segura y agradable. Si tiene alguna pregunta o inquietud sobre
  nuestras prácticas de privacidad, no dude en comunicarse con nosotros
</p>
{% endblock content %}
