{% extends "layouts/base2.html" %} {% block content %}

<p class="lead container text-wrap">
  Bienvenido a nuestra página de presentación de productos. Al acceder o
  utilizar este sitio web, usted acepta cumplir y estar sujeto a los siguientes
  términos y condiciones de uso. Lea estos términos detenidamente antes de
  continuar. <br /><br /><br />

  <span class="text-decoration-underline fw-bold">Uso del sitio</span>: Este
  sitio web está destinado únicamente para ver y explorar productos. No puede
  usar, copiar ni descargar ningún contenido de este sitio con fines comerciales
  o no comerciales sin nuestro consentimiento previo por escrito.
  <br /><br /><br />

  <span class="text-decoration-underline fw-bold"> Sin cuentas de usuario</span
  >: este sitio no requiere ni ofrece cuentas de usuario. No es necesario que
  proporcione ninguna información personal para ver los productos que se
  muestran.<br /><br /><br />

  <span class="text-decoration-underline fw-bold"> Sin transacciones</span>:
  esta es solo una plataforma de presentación; no se pueden realizar
  transacciones ni compras a través de este sitio web. <br /><br /><br />
  <span class="text-decoration-underline fw-bold">Cambios en los términos</span
  >: Se reserva el derecho de modificar estos términos y condiciones en
  cualquier momento sin previo aviso. Su uso continuo del sitio después de
  dichas modificaciones constituye su aceptación de los nuevos términos.<br /><br /><br />

  <span class="text-decoration-underline fw-bold"
    >Limitación de responsabilidad</span
  >: No seremos responsable de ningún daño directo, indirecto, incidental,
  especial o consecuente que surja de o esté relacionado con el uso o la
  imposibilidad de usar este sitio web.<br /><br /><br />

  <span class="text-decoration-underline fw-bold">Ley aplicable</span>: Estos
  términos y condiciones se regirán e interpretarán de conformidad con las leyes
  de Cuba, sin tener en cuenta sus disposiciones sobre conflicto de leyes. Al
  utilizar este sitio web, usted reconoce que ha leído, comprendido y acepta
  estar sujeto a estos términos y condiciones. Si no está de acuerdo con estos
  términos, no utilice este sitio. Para cualquier consulta relacionada con estos
  términos, comuníquese con nosotros.
</p>

{% endblock content %}
